<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EatlykEagles</title>




    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
    .navbar-default {
    background-color:#9F0011;
    border-color:transparent;
    }

   .btn-danger {
    color: #fff;
    background-color: #9F0011;
    border-color:transparent;
    }
    .modal-backdrop  {
      display : none;
    }
    </style>






</head>
<body style="background-color:#fff;">
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container">

    <!--logo-->
  <a  class="navbar-brand" href="../static/index"><img style="margin-top:-10px;" class="img-responsive" src="../images/user/logo2.png" alt="Eat Lyk Eagles"></a>



      <!-- Single button -->
 <% if(userobj == null) {  %>
    <%- partial('../partials/user_login_signup') %>
    <% }
 else { console.log(userobj); %>
    <%- partial('../partials/user_logged_in') %>
<% } %>
</div>
</div>
<!-- button -->




            <!--background img-->

    <div class="container-fluid" style="background:url(../images/user/bg1.JPG) no-repeat center ;      background-size:cover; width:100%; height:400px;">

            <!--row-->
            <div class="row" style="margin-top:150px;">
            <!--col-md-8-->
            <div class="col-md-8 col-md-offset-2">

            <h1 style="text-align:center; color:#fff; font-family:Verdana, Geneva, sans-serif;">Order from <%= req.session.hocount %> restaurants</h1>

            <p style="text-align:center; color:#000; font-family:Verdana, Geneva, sans-serif;">             delivering to your door</p>


            </div><!--col-md-8-->
            </div> <!--row-->
            </div> <!--/background img-->



            <section class="content-header">
     <div class="container" style="text-align:center;">
      <div class="row">
      <div class="col-md-8 col-md-offset-2">
      <ol class="breadcrumb">
      <li><a href="index.html"><i class="fa fa-dashboard"></i> Home</a></li>

        <li class="active">locations</li>
      </ol>
      </div>
      </div>
      </div>
    </section>









                <!--list views-->
                <div class="container" style="margin-top:10px;">
                 <div class="row">
                 <div class="col-md-3">



                <div class="list-group">
                <p class="list-group-item" style="font-weight: bold; border-top:1px solid #9F0011; text-align:center;">
                    &nbsp;&nbsp;Filter
                </p>

<a href="#SubSubMenu1" class="list-group-item" data-toggle="collapse" data-parent="#SubSubMenu1"><b>Cuisines</b></a>
              <div class="collapse list-group-submenu list-group-submenu-1" id="SubSubMenu1">

                <a href="#" class="list-group-item" data-parent="#SubSubMenu1">
                <%
                if(req.session.allcuisine) {
                  for(var i=0; i<req.session.allcuisine.length; i++) {

                %>
                     <div class="checkbox checkbox-inline">
                        <input class="filtbox" type="checkbox" id="inlineCheckbox1" value="<%= req.session.allcuisine[i].name %>">
                        <label for="inlineCheckbox1"> <%= req.session.allcuisine[i].name %> </label>
                    </div>



                     <br>
                <%
              }
            }
                %>

                    <div style="margin-top:20px; margin-left: 30px; ">

                   <button id="applybut" type="button" class="btn btn-danger btn-sm">Apply</button>
                   <button id="cancelbut" type="button" class="btn btn-default btn-sm">Cancel</button>

                      </div>
                    </a>



              </div>



            </div>

            </div>


<!-- list group -->

              <div id="parent" class="col-md-9" style=" margin-top:0px;">


                  <div id= "divcon" class="list-group">
        <% if(obj) {
    for(var i =0; i<obj.length;i++)
        {
    %>
                <a href="../user/menuv?id=<%= obj[i].id %>" class="list-group-item">

                                    <div class="media">
                                        <span style="float:right; margin-top:12px;">

                       <button type="button" class="btn btn-danger btn-sm">View Menu</button></span>
                         <div class="pull-left">
                              <%
                          var path = ".." + "/images/Hotel/" + obj[i].fd;
                          console.log(path);
                        %>
                        <img class="media-object" src="<%= path %>"alt="Image">
                        </div>


                                        <div class="media-body">
                                            <h4 class="media-heading"><%= obj[i].hname %></h4>
                                <p><%= obj[i].address %></p>
                                <p><%= obj[i].city %></p>
                                <p><%= obj[i].pin %></p>
                                        </div>
                                        </div></a>
                 <%
                    }
                        } %>

    	    </div>
            </div>
            </div><!--row-->
            </div><!--container-->






<%- partial('../partials/footer') %>








































    <!-- jQuery -->
                    <script src="js/jquery.js"></script>
                     <!-- Bootstrap Core JavaScript -->
                    <script src="js/bootstrap.min.js"></script>
<!-- script for cancel button in index    -->
    <script>
var cancelbut = document.getElementById('cancelbut');
var filtbox = document.getElementsByClassName('filtbox');
cancelbut.addEventListener('click', function(){
  for(var i = filtbox.length-1; i>=0; i--) {
    //alert(filtbox[i]);
    filtbox[i].checked = false;
  }
});
    </script>

<script src="/js/indfilt.js"></script>






</body>
</html>
