<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Eatlykeagles</title>





    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


 <style>

 .btn-danger {
	 margin-top:30px;
    color: #fff;
    background-color: #9F0011;
    border-color:transparent;
}
 </style>






</head>
<body>

<!---video background-->
   <div class="video-overlay"></div>
    <video autoplay loop muted poster="../images/user/bg.jpg" id="video-bg">

     <source src="../media/intro.webm" type="video/webm">
     <source src="../media/intro.mp4" type="video/mp4">
     </video>

<!---//video background-->

<!--container-->

     <div class="container" style="z-index:9999; position:relative;">

     <nav>
     <!-- my account -->
 <% if(userobj == null) {  %>
    <%- partial('../partials/user_login_signup') %>
    <% }
 else { console.log(userobj); %>
    <%- partial('../partials/user_logged_in') %>
<% } %>
</nav>



<!--logo with search area-->
<div class="conatiner" style="margin-top:150px;">

                    <form action="../hotel/search?nwo=1"  method="post"><input name="" type="hidden" value="" />
                    <div class="row">
                    <div class="col-md-12">

                    <!--col-md-4-->
                    <div class="col-md-4 col-md-offset-4">
                    <img style="margin:0 auto;" class="img-responsive" src="../images/user/indexLogo.png"/>
                    <hr>
                    </div><!--//col-md-4-->

                    </div><!--col-md-12-->
                    </div><!--row-->


                    <!--row-->
                    <div class="row">
                    <!--col-md-offset-4 col-md-offset-4 col-md-4-->

                        <div class="col-md-offset-4 col-md-offset-4 col-md-4" id="ajaxCategory">






                      <select class="form-control dropdownSearch" id="category" name="cuisine">
                        <option value="">Select Cuisine</option>
                <% var arrlen = cuisobj.length;
                var allobj;
                for(var i=0;i<cuisobj.length;i++){
                    if(i == 0) {
                      allobj = cuisobj[i].name;
                    }
                    else
                      allobj = allobj+"~"+cuisobj[i].name;
                    %>
                        <option value="<%= cuisobj[i].name %>"><%= cuisobj[i].name %></option>
                    <%
                      if(i == cuisobj.length-1) {
                      %>
                      <option value = "<%= allobj %>">All</option>
                      <%
                    }
                    %>
                    <% } %>
                        </select>


                        </div><!--//col-md-offset-4 col-md-offset-4 col-md-4-->
                        </div><!--row-->




                        <!--row-->
                        <div class="row">
                        <!--//col-md-offset-3 col-md-3-->
                    <div class="col-md-offset-3 col-md-3" style="padding-top:15px;" id="ajaxLocation">

                        <select class="form-control dropdownSearch " id="city" name="city">
                        <option value="">Select City</option>
                <% var arrlen = cityobj.length;
                for(var i=0;i<cityobj.length;i++){ %>
                        <option value="<%= cityobj[i].id %>"><%= cityobj[i].name %></option>
                    <% } %>
                        </select>
                     </div><!--//col-md-offset-3 col-md-3-->




                    <!--//col-md-offset-3 col-md-3-->
                    <div class="col-md-offset-0 col-md-offset-3 col-md-3" style="padding-top:15px;" id="ajaxArea">

                   <select class="form-control dropdownSearch " id="area" name="area">
                            <option value="">Select Area</option>
                            </select>


                    </div><!--//col-md-offset-3 col-md-3-->
                    </div><!--row-->




                    <div class="row">
                    <p style="text-align:center;">
                    <input type="submit" class=" btn-danger btn-lg" value="Search"></button>
                    </p>
                    </div><!--row-->

                    </form>
                    </div><!--search area containe//-->





</div><!--//container-->


<script src="/js/citar.js"></script>
</body>
</html>
